$p50: #FEE580;
$p100: #FEE066;
$p200: #FFDB4C;
$p300: #FFD634;
$p400: #FFD119;
$p500: #FFCC00;
$p600: #E6B800;
$p700: #CDA301;
$p800: #B38E00;
$p900: #987A00;
$A100: #ff8a80;
$A200: #ff5252;
$A400: #ff1744;
$A700: #d50000;

$prefered: #1BC98E;
$primary-font: #fff;
$background-white: #fff;
$title-font: #6872c4;
$subheader-font: #393939;
$detail-header: #cccccc;
$detail-content: #eeeeee;

$border: $p100;
$border-hover: $p800;
$background-disabled: $p50;