<form novalidate (submit)="onAdd(description.value)">
  <mat-card appearance="outlined" class="add-item">
      <mat-card-header>
          <mat-card-title>Add a new Item</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field fxFlex="grow">
          <input matInput placeholder="Todo Beschreibung" #description>
      </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="end">
        <button type="submit" mat-button>Add</button>
      </mat-card-actions>
  </mat-card>
</form>
